body{
	background: black;
	display: flex;
	margin: 0px;
}

div{
	position: top;
	display: block;
}

h1 {
	color: white;
	font-size: 60px;
}

label{
	color: white;
	padding:0px;
	margin:0px;
}

input[type="range"]{
	display: block;
	padding:0px;
	margin:0px;
}

#canvas{
	display:block;
}

#canvas h1{
	display: none;
}

#controls{
	display:block;
	padding: 20px;
}

#sliders p{
	color: white;
}

@media only screen and (max-device-width: 667px) {

	body {
		display: block;
	}
	
	label, p {
		font-size: 50px;
		margin: 0;
	}

	label {
		margin-left: 10px;
	}

	#controls h1 {
		display: none;
	}

	#canvas h1 {
		display: block;
		text-align: center;
		padding-top: 20px;
		font-size: 80px;
		margin: 0px;
	}

	#controls input[type="checkbox"]{
		height: 45px;
		width: 45px;
	}

	#controls input[type="range"]{
		height: 30px;
		width: 300px;
	}

	#controls {
		padding: 0px;
		padding-left: 20px;
	}

	#sliders div{
		display: flex;
	}

	#sliders div p{
		margin-right: 10px;
	}
}
